[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
gevent = "*"
gevent-websocket = "*"
netifaces = "*"
pywebview = "*"
pyobjc = "*"

[dev-packages]

[requires]
python_version = "2.7"
