@import '../partials/mixins';
@import '../partials/variables';
@import '../partials/layout';

*{
    box-sizing: border-box;
    font-family:"Avenir Next" !important;
}

body {
    background-color:aliceblue;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.nano {
    line-height: 1.3em;  
    font-size: 24px;
    color: darkslategrey;
    border-radius: 10px;
    width: 97%;
    margin: 2% auto;
    height: 30% !important;
    
}

.nano > .nano-content { padding: 10px; }
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }



.table {
    height: 40%;
    overflow-y: scroll;
}

#charts {
    margin: 10px;
    min-height: 360px;
    height: 70%;
    min-width: 320px;
}

.container {
   height: 95vh;
}
