@import '../partials/mixins';
@import '../partials/variables';


$header-height: 50px;


*{
    box-sizing: border-box;
    font-family:"Avenir Next" !important;
}

body {
    background-color:white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.nano {
    line-height: 1.3em;  
    font-size: 22px;
    color: darkslategrey;
    border-radius: 10px;
    width: 97%;
    margin: 2% auto;
    height: 30% !important;
    
}

.nano > .nano-content { width: 98%; margin: 0 auto;}
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }





#charts {
    margin: 10px;
    min-height: 360px;
    height: 60%;
    min-width: 320px;
}

.container {
   height: 95vh;
}

.top-header {
    
    position: relative;
    height: $header-height;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #2c3e50;
    div{
        top:5px;
        position: absolute;
        display: inline;
        height: $header-height;
    }
    
    
    .heading{
        left: 5px;
        font-size: 32px;
        width: 40%;
    }
    .transfer-total{
        width: 28%;        
        svg{
            width: 32px;
            position: absolute;
            top: 5px;
            left: 5px;

        }
        
        div{
            font-size: 26px;
            margin-left: 40px;
            margin-top: 2px;
        }
    }
    .up{
        top:0;
        right: 0;
    }
    .down{
        top:0;
        right: 28%;
    }
}

#highcharts-0 > svg > text{
    visibility: hidden;
}

.log {
    cursor: pointer;
    background-color: slategray;
    color: white;
    border-radius: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    transition: all 0.2s ease-out;
    
    &.active {
        background-color: white;
        color: #2c3e50; 
     /*   box-shadow: 0 0 5px 2px #fff;
        border: 1px solid #ababab;
        border-radius: 5px;
        outline: none;*/
        border: 1px solid #ababab;
        box-shadow:  -1px 1px #ababab,
            -2px 2px #ababab,
            -3px 3px #ababab,
            -4px 4px #ababab,
            -5px 5px #ababab
        
    };
    margin-top: 1px;
    margin-bottom: 6px;
}


