@import '../partials/mixins';
@import '../partials/variables';
@import '../partials/layout';


$header-height: 50px;


*{
    box-sizing: border-box;
    font-family:"Avenir Next" !important;
}

body {
    background-color:aliceblue;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.nano {
    line-height: 1.3em;  
    font-size: 24px;
    color: darkslategrey;
    border-radius: 10px;
    width: 97%;
    margin: 2% auto;
    height: 30% !important;
    
}

.nano > .nano-content { width: 98%; margin: 0 auto;}
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }



.table {
}

#charts {
    margin: 10px;
    min-height: 360px;
    height: 60%;
    min-width: 320px;
}

.container {
   height: 95vh;
}

.top-header {
    position: relative;
    height: $header-height;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    div{
        position: absolute;
        display: inline;
        height: $header-height;
    }
    
    
    .heading{
        top:0;
        left: 0;
        width: 50%;
        background-color: chocolate;
    }
    .transfer-total{
        width: 25%;
    }
    .up{
        top:0;
        right: 0;
        background-color: antiquewhite
    }
    .down{
        top:0;
        right: 25%;
        background-color: blue;
    }
}

#highcharts-0 > svg > text{
    visibility: hidden;
}
