<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>bandwidth_monitor</title>
  <meta name="description" content="lel">

  <link rel="stylesheet" href="css/css_reset.css">
  <link rel="stylesheet" href="css/nano.css">
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="-1">
</head>

<body>
   
    <div class="app"  id="app"> 
   
    <div class="container">
        <div class="top-header">
            <div class="heading">
                HogWatch 
            </div>
           
            
        </div>
       <div class="nano">
          <div class="nano-content">

            <div class="logs">
               <ul>
                   <li 
                       v-for="log in latestLogs | orderBy 'kbps_in' -1"
                       track-by="uid"
                       v-on:click="toggleActiveLog(log)"
                       transition="log">
                       <div class="log" v-bind:class="{ 'active': log.isActive }">
                           {{log.process}}  
                       </div>                       
                   </li>
               </ul>
            </div>       
          </div>           
       </div>

       <div id="charts"></div>
       
       
       
       
       </div><!--container end-->
       
        <div class="info-bar">
            <div class="transfer-total down">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 63.001 63.001">
                        <g>
                            <g id="group-23svg">
                                <path id="path-1_16_" d="M31.5,51.219c-0.67,0-1.301-0.261-1.774-0.736L0.44,21.198c-0.586-0.586-0.586-1.535,0-2.121     s1.535-0.586,2.121,0L31.5,48.015l28.94-28.938c0.586-0.586,1.535-0.586,2.121,0s0.586,1.535,0,2.121L33.276,50.483     C32.8,50.958,32.17,51.219,31.5,51.219z" fill="#2980B9"/>
                                <path id="path-2_14_" d="M31.5,37.993c-0.384,0-0.767-0.147-1.06-0.44L7.228,14.342c-0.586-0.586-0.586-1.536,0-2.122     c0.586-0.585,1.535-0.585,2.121,0L31.5,34.372L53.653,12.22c0.586-0.585,1.535-0.585,2.121,0c0.586,0.586,0.586,1.536,0,2.122     L32.562,37.553C32.269,37.846,31.885,37.993,31.5,37.993z" fill="#2980B9"/>
                            </g>
                        </g>
                    </svg>
                <div class="rate">{{total_kbps_in_formatted}} </div>
                <div class="amount recieved">
                    {{transferIn}}
                </div>
            </div>
            <div class="transfer-total up">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"   viewBox="0 0 63 63">
                        <g>
                            <g id="group-22svg">
                                <path id="path-1_15_" d="M61.5,44.44c-0.384,0-0.767-0.146-1.06-0.439L31.5,15.061L2.561,44.001     c-0.586,0.586-1.535,0.586-2.121,0s-0.586-1.535,0-2.121l29.286-29.364c0.473-0.474,1.104-0.812,1.774-0.812     c0.001,0,0.001,0,0.002,0c0.671,0,1.301,0.339,1.774,0.813l29.285,29.324c0.586,0.586,0.586,1.555,0,2.14     C62.268,44.275,61.882,44.44,61.5,44.44z" fill="#E74C3C"/>
                                <path id="path-2_13_" d="M54.712,51.296c-0.384,0-0.767-0.147-1.06-0.44L31.5,28.706L9.349,50.856     c-0.586,0.586-1.535,0.586-2.121,0s-0.586-1.535,0-2.121L30.44,25.524c0.586-0.586,1.535-0.586,2.121,0l23.212,23.211     c0.586,0.586,0.586,1.535,0,2.121C55.479,51.149,55.096,51.296,54.712,51.296z" fill="#E74C3C"/>
                            </g>
                        </g>
                </svg>
                <div class="rate">{{total_kbps_out_formatted}}</div>
                <div class="amount sent">
                    {{transferOut}}
                </div>
            </div>
        </div>  
        
        <div class="window-range-selector">
        <div class="state" 
            v-on:click="toggleWindowState"
            v-bind:class="{'active': paused}">

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512"
             v-if="paused" >
            <g>
                <g fill="#231F20">
                    <path d="m354.2,247.4l-135.1-92.4c-4.2-3.1-15.4-3.1-16.3,8.6v184.8c1,11.7 12.4,11.9 16.3,8.6l135.1-92.4c3.5-2.1 8.3-10.7 0-17.2zm-130.5,81.3v-145.4l106.1,72.7-106.1,72.7z" fill="#FFFFFF"/>
                    <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,480.1    C132.4,480.1,31.9,379.6,31.9,256S132.4,31.9,256,31.9S480.1,132.4,480.1,256S379.6,480.1,256,480.1z" fill="#FFFFFF"/>
                </g>
            </g>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 235.592 235.592" xml:space="preserve"

           v-else>
            <g>
                <path d="M117.795,0.002C52.843,0.002,0,52.844,0,117.795C0,182.747,52.843,235.59,117.795,235.59   c64.953,0,117.797-52.843,117.797-117.795C235.592,52.844,182.748,0.002,117.795,0.002z M117.795,220.59   C61.113,220.59,15,174.477,15,117.795C15,61.114,61.113,15.002,117.795,15.002c56.683,0,102.797,46.112,102.797,102.793   C220.592,174.477,174.477,220.59,117.795,220.59z" fill="#FFFFFF"/>
                <path d="M139.834,68.258c-4.143,0-7.5,3.357-7.5,7.5v84.076c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5V75.758   C147.334,71.615,143.977,68.258,139.834,68.258z" fill="#FFFFFF"/>
                <path d="M95.758,68.258c-4.143,0-7.5,3.357-7.5,7.5v84.076c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5V75.758   C103.258,71.615,99.9,68.258,95.758,68.258z" fill="#FFFFFF"/>
            </g>
        </svg>


        </div>
        <div class="divider"></div>
        <div id="range-0" v-on:click="windowLength(0)" class="range"> [ ]</div>
        <div id="range-5" v-on:click="windowLength(5)" class="range"> 5m </div>
        <div id="range-30" v-on:click="windowLength(30)" class="range"> 30m </div>        
        </div>     
    
    </div>

 
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="js/vendor/jquery.min.js"></script>
  <script>if (window.module) module = window.module;</script>
  
  <script src="/js/vendor/moment.js"></script>
  <script src="js/vendor/vue.js"></script>
  <script src="js/vendor/list_transition.js"></script>
  <script src="js/vendor/highstock.js"></script>
  <script src="js/vendor/nanoScroller.js"></script>
  <script src="js/vendor/jquery.leanModal.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>
